
.barra-informacao h2 {
    background-color: black;    
    font-size: 1.2em;
    font-weight: bold;
    color: white;

}
.barra-informacao ul {
    display: flex;
    justify-content: space-around;
    
}