#rodape {
  text-decoration: none;
}

#projetos {
  background-color: mintcream;
}

#projetos .card {
  width: 18rem;
}

#contato {
  background-color: midnightblue;
}

.parallax {
  /* The image used */
  background-image: url('http://placehold.it/1200x500');
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  /* color: lightsteelblue; */
  color: white;
  padding: 0px 25px;
  font-size: 25px;
  border: 1px solid teal;
  border-radius: 5px;
  text-align: center;
}

.logo > .tech {
  font-size: 20px;
  text-align: center;
}
